name: Deploy Angular Project to GitHub Pages

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Select the branch to deploy'
        required: true
        default: 'hello-world'
        type: choice
        options: ['hello-world', 'main']  # Add all project branches here

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Install Angular CLI
        run: npm install -g @angular/cli

      - name: Install dependencies
        run: npm install
        working-directory: ./${{ github.event.inputs.branch }}  # Project-specific directory

      - name: Build the Angular application
        run: ng build --base-href /${{ github.event.inputs.branch }}/
        working-directory: ./${{ github.event.inputs.branch }}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          destination_dir: angular-projects/${{ github.event.inputs.branch }}
          publish_dir: ./${{ github.event.inputs.branch }}/dist/${{ github.event.inputs.branch }}/browser
